In [1]:
print('Hello World')

Hello World

In [ ]:
'''
1. What is a list in python 
2. How to create a list.
3. How to access data from list using : and indexs
4. -ve indexing
5. Features of list
6. Is it a data type or a data structure
7. Find the length of the list
8. Methods - append, extend, pop, remove, insert, reverse
9. Change value in list
10. From string to list
11. Multi-Dimensional List - list inside list. - access the data in list
12. Sort list
13. join lists
14. Iterable
'''

In [ ]:
# list is collection of items of different data types.
# It is ordered, changeable and allows duplicates.

In [3]:
sample_list = [1, 2.5, 'abcd', True, 1]
sample_list

[1, 2.5, 'abcd', True, 1]

In [ ]:
# Using Indexs. In Python indexes always start from 0 (left to right)
print(sample_list[0], sample_list[1], sample_list[2])

# Negative Indexing
print(sample_list[-1], sample_list[-2], sample_list[-3])

print(sample_list[1], sample_list[-4])

1 2.5 abcd
1 True abcd
2.5 2.5
[1, 2.5, 'abcd']
[1, 'abcd', 1]

In [ ]:
# Access the elements using :
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[::2]) # start:stop:step

[1, 3, 5, 7, 9]

In [23]:
print(my_list[:])

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
print(my_list[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# features of list
'''
1. Ordered
2. Mutable (changeable)
3. Allow duplicates
4. Can contain different data types
5. Index starts from 0
6. Supports nested lists
7. duplicates
8. indexing and slicing
9. support various methods
10. List are iterable so that it can be used in loops.
'''

In [29]:
nested_list = [1, 2, 3, [4,5,6]]
nested_list[3][0], nested_list[3][1:3]

(4, [5, 6])

In [26]:
# Sliciing
my_list[2:5]

[3, 4, 5]

In [43]:
# 9. Change value in list
my_list[8]= 10
my_list[-1] = 11
my_list[5] = 12
my_list[5] = [12]
my_list[6] = 'abcd'
my_list[7:9] = [13, 14]
my_list

[1, 2, 3, 4, 5, [12], 'abcd', 13, 14]

In [47]:
my_list[7:9] = [12]
my_list

[1, 2, 3, 4, 5, [12], 'abcd', 12]

In [ ]:
 # if you are using slice to change the value 
 # then the new value should also be a slice or list not a single element
my_list[7:9] = [15, 17, 19, 20]

In [63]:
# 10. From string to list
list('abcd')

some_string = 'My name is akhilesh'
split_string = some_string.split(' ')
split_string

['My', 'name', 'is', 'akhilesh']

In [130]:
' '.join(split_string)

'My name is akhilesh'

In [71]:
# Multi Dimnesional List
matrix = [
    [1, 2, 3],   # Row 1
    [4, 5, 6],   # Row 2
    [7, 8, 9]    # Row 3
]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [73]:
matrix[1][1]

5

In [90]:
# Sort list
unsorted_list = [10, 7, 11, 5, -1, 100]

In [ ]:
# Iterations
for num in unsorted_list.sort():
    print(num)

TypeError: 'NoneType' object is not iterable

In [92]:
unsorted_list.sort()

In [94]:
for num in unsorted_list:
    print(num * 2)

-2
10
14
20
22
200

In [96]:
# 7. Find the length of the list
my_list = [1, 2, 3, 4, 5, 15, 17, 19, 20]
len(my_list)

9

In [98]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [97]:
for idx in range(len(my_list)):
    print(my_list[idx])

1
2
3
4
5
15
17
19
20

In [106]:
# 8. Methods - append, extend, pop, remove, insert, reverse

# append
my_list = [1,2,3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [107]:
my_list.append([5])
my_list

[1, 2, 3, 4, [5]]

In [112]:
my_list.extend([6])
my_list

[1, 2, 3, 10, [5], 6, 6]

In [114]:
# insert
my_list = [1,2,3, 4, 5]

my_list.insert(3, 12)
my_list

[1, 2, 3, 12, 4, 5]

In [119]:
# reverse
my_list = [1,2,3, 4, 5]
my_list.reverse()
my_list

[5, 4, 3, 2, 1]

In [116]:
my_list = [1,2,3, 4, 5]
my_list[3] = 12
my_list

[1, 2, 3, 12, 5]

In [124]:
# pop, remove
my_list = [1,2,3, 4, 5, 1]
my_list.remove(1) # remove the first occurrence of the element.
my_list

[2, 3, 4, 5, 1]

In [ ]:
my_list.pop(2) # remove the element at the index.

4

In [127]:
my_list

[2, 3, 5, 1]

In [128]:
my_list.pop(2)

5

In [129]:
my_list

[2, 3, 1]

In [ ]:
# Initialize a empty list
emplty_list = []

# Process input data
# store the data in list
emplty_list.append(2)