In [1]:
print('Hello World')

Hello World

In [2]:
'''
1. What is a list in python 
2. How to create a list.
3. How to access data from list using : and indexs
4. -ve indexing
5. Features of list
6. Is it a data type or a data structure
7. Find the length of the list
8. Methods - append, extend, pop, remove, insert, reverse
9. Change value in list
10. From string to list
11. Multi-Dimensional List - list inside list. - access the data in list
12. Sort list
13. join lists
14. Iterable
'''

'\n1. What is a list in python \n2. How to create a list.\n3. How to access data from list using : and indexs\n4. -ve indexing\n5. Features of list\n6. Is it a data type or a data structure\n7. Find the length of the list\n8. Methods - append, extend, pop, remove, insert, reverse\n9. Change value in list\n10. From string to list\n11. Multi-Dimensional List - list inside list. - access the data in list\n12. Sort list\n13. join lists\n14. Iterable\n'

In [3]:
# list is collection of items of different data types.
# It is ordered, changeable and allows duplicates.

In [4]:
sample_list = [1, 2.5, 'abcd', True, 1]
sample_list

[1, 2.5, 'abcd', True, 1]

In [5]:
# Using Indexs. In Python indexes always start from 0 (left to right)
print(sample_list[0], sample_list[1], sample_list[2])

# Negative Indexing
print(sample_list[-1], sample_list[-2], sample_list[-3])

print(sample_list[1], sample_list[-4])

1 2.5 abcd
1 True abcd
2.5 2.5

In [6]:
# Access the elements using :
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[::2]) # start:stop:step

[1, 3, 5, 7, 9]

In [7]:
print(my_list[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(my_list[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
# features of list
'''
1. Ordered
2. Mutable (changeable)
3. Allow duplicates
4. Can contain different data types
5. Index starts from 0
6. Supports nested lists
7. duplicates
8. indexing and slicing
9. support various methods
10. List are iterable so that it can be used in loops.
'''

'\n1. Ordered\n2. Mutable (changeable)\n3. Allow duplicates\n4. Can contain different data types\n5. Index starts from 0\n6. Supports nested lists\n7. duplicates\n8. indexing and slicing\n9. support various methods\n10. List are iterable so that it can be used in loops.\n'

In [10]:
nested_list = [1, 2, 3, [4,5,6]]
nested_list[3][0], nested_list[3][1:3]

(4, [5, 6])

In [11]:
# Sliciing
my_list[2:5]

[3, 4, 5]

In [12]:
# 9. Change value in list
my_list[8]= 10
my_list[-1] = 11
my_list[5] = 12
my_list[5] = [12]
my_list[6] = 'abcd'
my_list[7:9] = [13, 14]
my_list

[1, 2, 3, 4, 5, [12], 'abcd', 13, 14]

In [13]:
my_list[7:9] = [12]
my_list

[1, 2, 3, 4, 5, [12], 'abcd', 12]

In [14]:
 # if you are using slice to change the value 
 # then the new value should also be a slice or list not a single element
my_list[7:9] = [15, 17, 19, 20]

In [15]:
# 10. From string to list
list('abcd')

some_string = 'My name is akhilesh'
split_string = some_string.split(' ')
split_string

['My', 'name', 'is', 'akhilesh']

In [16]:
' '.join(split_string)

'My name is akhilesh'

In [17]:
# Multi Dimnesional List
matrix = [
    [1, 2, 3],   # Row 1
    [4, 5, 6],   # Row 2
    [7, 8, 9]    # Row 3
]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
matrix[1][1]

5

In [19]:
# Sort list
unsorted_list = [10, 7, 11, 5, -1, 100]

In [20]:
# Iterations
for num in unsorted_list.sort():
    print(num)

TypeError: 'NoneType' object is not iterable

In [ ]:
unsorted_list.sort()

In [ ]:
for num in unsorted_list:
    print(num * 2)

-2
10
14
20
22
200

In [ ]:
# 7. Find the length of the list
my_list = [1, 2, 3, 4, 5, 15, 17, 19, 20]
len(my_list)

9

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for idx in range(len(my_list)):
    print(my_list[idx])

1
2
3
4
5
15
17
19
20

In [ ]:
# 8. Methods - append, extend, pop, remove, insert, reverse

# append
my_list = [1,2,3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [ ]:
my_list.append([5])
my_list

[1, 2, 3, 4, [5]]

In [ ]:
my_list.extend([6])
my_list

[1, 2, 3, 10, [5], 6, 6]

In [ ]:
# insert
my_list = [1,2,3, 4, 5]

my_list.insert(3, 12)
my_list

[1, 2, 3, 12, 4, 5]

In [ ]:
# reverse
my_list = [1,2,3, 4, 5]
my_list.reverse()
my_list

[5, 4, 3, 2, 1]

In [ ]:
my_list = [1,2,3, 4, 5]
my_list[3] = 12
my_list

[1, 2, 3, 12, 5]

In [ ]:
# pop, remove
my_list = [1,2,3, 4, 5, 1]
my_list.remove(1) # remove the first occurrence of the element.
my_list

[2, 3, 4, 5, 1]

In [ ]:
my_list.pop(2) # remove the element at the index.

4

In [ ]:
my_list

[2, 3, 5, 1]

In [ ]:
my_list.pop(2)

5

In [ ]:
my_list

[2, 3, 1]

In [ ]:
# Initialize a empty list
emplty_list = []

# Process input data
# store the data in list
emplty_list.append(2)

Tuples

In [ ]:
list_1 = [1, 2, 3, 4, 5] # Mutables (change , remove and add the element)
print(list_1)

# Access the list - using Indexes
print(list_1[0])

# Change the element
list_1[0] = 10
print(list_1)

# Add the elements
list_1.append(12)
print(list_1)

# Remove the elements
list_1.remove(2)
print(list_1)

[1, 2, 3, 4, 5]
1
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 12]
[10, 3, 4, 5, 12]

In [ ]:
tup = (1,2,3,4) # un-mutable, can not change, add or remove the elements.
tup

# Access the elemnts of tuple
tup[0]

#change the element
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup_1 = (1,2,3,3,4) # Allows duplicates

In [ ]:
tup_1 = (1,2,3,3,4, 'python') # can contain elements of different data types.
tup_1

(1, 2, 3, 3, 4, 'python')

In [ ]:
# Iterate over tuples
for  elem in tup_1:
    print(elem)

1
2
3
3
4
python

In [ ]:
x, y, z = [1,2,3]
x

(1, 2, 3)

In [33]:
x, y, z = (1,2,3)

In [34]:
y

2

Sets

In [21]:
set_1 = {1,2,3}

# Unordered. Index are supported.

for elem in set_1:
    print(elem)

1
2
3

In [ ]:
# Sets are mutable.
# the elements are not changeable but the we can add and remove elements.
set_1.add(4)

In [24]:
set_1.remove(3)

In [26]:
set_1 = {1, 1, 2,3,4,4,5}
set_1

{1, 2, 3, 4, 5}

In [ ]:
set([1,2,3,4,5,6,7,7,3,5,6]) # Used a lot.

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
{1,2,3, 'akhilesh', 1, 'akhilesh'} # It allows different data types.

{1, 2, 3, 'akhilesh'}

In [35]:
set_1 = {1,2,3,4,5}
set_2 = {3,4,5,6}

set_1.intersection(set_2)

{3, 4, 5}

In [36]:
set_1.difference(set_2) # set_1 - set_1.intersection(set_2)

{1, 2}

In [37]:
set_2.difference(set_1) # set_2 - set_1.intersection(set_2)

{6}

Dictionary

In [50]:
dict_1 = { 'key_1' : 1,
 1: 2,
 2: 'akhilesh',
 'key_1': 2


}

In [52]:
dict_1

{'key_1': 2, 1: 2, 2: 'akhilesh'}

In [ ]:
dict_1['key_1'] # should not have duplicate keys

2

In [42]:
dict_1['key_1']

1

In [54]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [59]:
myfamily['child3']['year']

2011

In [44]:
dict_1[2]

'akhilesh'

In [46]:
for k, v in dict_1.items():
    print(k, v)

key_1 1
1 2
2 akhilesh

In [48]:
for v in dict_1.values():
    print(v)

1
2
akhilesh

In [49]:
for k in dict_1.keys():
    print(k)

key_1
1
2